{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <figure class="avatar" style="background: url({{member.avatar_url}}}}) no-repeat center center / cover"></figure>
        <section class="details">
            <form method="POST" action="/members?_method=PUT">

                <h3>Editar Membro</h3>

                {% include 'members/fields.njk' %}

                <input type="hidden" name="id" value={{member.id}}>

            </form>

            <form id="form-delete" action="/members?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{member.id}}">
                <button type="submit">Deletar</button>
            </form>

            {% include '../delete.njk' %}
        </section>
    </div>

{% endblock content %}