{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <figure
    class="avatar"
    style="background: url({{ member.avatar_url }}) no-repeat center center / cover"></figure>
    <section class="details">
    
        <h3>Detalhes</h3>

        <div class="item">
            <div>Membro</div>
            <div>{{ member.name }}</div>
        </div>

        <div class="item">
            <div>E-mail</div>
            <div>{{ member.email }}</div>
        </div>

        <div class="item">
            <div>Aniversário</div>
            <div>{{ member.birth }}</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>{{ "Masculino" if member.gender == "M" else "Feminino"}}</div>
        </div>

        <div class="item">
            <div>Tipo Sanguineo</div>
            <div>{{ member.blood }}</div>
        </div>

        <div class="item">
            <div>Peso (kg)</div>
            <div>{{ member.weight }}</div>
        </div>

        <div class="item">
            <div>Altura (cm)</div>
            <div>{{ member.height }}</div>
        </div>

        <a href="/members/{{member.id}}/edit" class="button">Editar</a>
    </section>
</div>
{% endblock content %}