<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    {% block head%}
      <title>Gerenciador de Academia</title>
      {% endblock%}

      <link rel="stylesheet" href="/style.css">
    </head>
    <body>

      <header>
        <nav class="links">
          <a href="/instructors">Instrutores</a>
          <a href="/members">Membros</a>
        </nav>
      </header>

      {% block content %}{% endblock %}

      <script src="scripts.js"></script>
    </body>
  </html>