{% extends "layout.njk" %}

{% block content %}

    <section class="notfound">
        <h1>Página não encontrada!</h1>
        <p>A página que você tentou acessar não existe!<br>
            <a href="/">Clique aqui</a>
            para retornar ao início.</p>
    </section>

{% endblock %}