@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --green: #47c2a3;
    --blue: #6C7EFB;
    --yellow: #f7de1ee3;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--blue) ;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #eeeeee;
    width: 100%;
    padding: 24px;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(51, 51, 51, 0.808);
}

.links {
    font-size: 22px;
}

.links a + a{
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: #555;
}

.links a:hover {
    color: var(--blue);
}

.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.links a:hover::after {
    width: 100%;
    transition: width 250ms ease-in-out;
}

/*  CARD */

.card {
    background-color: white;
    width: 968px;
    height: auto;

    margin: 45px auto;

    display: grid;
    grid-template-columns: 1fr 1fr;

    box-shadow: 5px 5px 10px 1px rgba(51, 51, 51, 0.6);

    animation: up 500ms ease-in-out;
    /* animation-duration: 500ms;
    animation-timing-function: ease-in-out; */
    /* animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-direction: reverse;
    animation-iteration-count: 3; */
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
    }
}

/* DETALHES */

.details {
    padding: 28px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 0 8px 0;
    box-sizing: border-box;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blue);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--yellow);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* FORM */
input, select {
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--blue);
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* button[type="submit"]:hover {
    border: 1px solid var(--green);
} */

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: #ee5050;
}

/* Index */
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #464646;
    font-size: 16px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span{
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    box-shadow: 3px 1px 6px -4px black;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--blue);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

th:last-child{ 
    text-align: center;
}

.table-container thead tr th:last-child,
td:last-child{
    text-align: center;
}

tbody .services span{
    padding: 8px 16px;
    background-color: var(--yellow);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

/* NOT FOUND */