{% extends "layout.njk" %}

{% block content %}
    <form class="card" method="POST" action="/instructors">
        <figure class="avatar" style="background: url(https://source.unsplash.com/collection/3465564/500x500) no-repeat center center / cover"></figure>
        <section class="details">

            <h3>Novo Instrutor</h3>

            {% include 'instructors/fields.njk' %}

        </section>
    </form>
{% endblock content %}