{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <figure class="avatar" style="background: url({{instructor.avatar_url}}) no-repeat center center / cover"></figure>
        <section class="details">
            <form method="POST" action="/instructors?_method=PUT">

                <h3>Editar Instrutor</h3>

                {% include 'instructors/fields.njk' %}

                <input type="hidden" name="id" value={{instructor.id}}>

            </form>

            <form id="form-delete" action="/instructors?_method=DELETE" method="post">
                <input type="hidden" name="id" value="{{instructor.id}}">
                <button type="submit">Deletar</button>
            </form>

            {% include '../delete.njk' %}

        </section>
    </div>

{% endblock content %}