{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <figure
    class="avatar"
    style="background: url({{ instructor.avatar_url }}) no-repeat center center / cover"></figure>
    <section class="details">
    
        <h3>Detalhes</h3>
        <div class="item">
            <div>Instrutor</div>
            <div>{{ instructor.name }}</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>{{ instructor.age }}</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>{{ "Masculino" if instructor.gender == "M" else "Feminino"}}</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
                {% for service in instructor.services %}
                <span>{{ service }}</span>
                {% endfor %}
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>{{ instructor.created_at }}</div>
        </div>

        <a href="/instructors/{{instructor.id}}/edit" class="button">Editar</a>
    </section>
</div>
{% endblock content %}